In [1]:
import utilities
import numpy as np
import pandas as pd
import hmmlearn

Tweet 1000 of 4491

Tweet 2000 of 4491

Tweet 3000 of 4491

Tweet 4000 of 4491

In [6]:
import random

In [2]:
data = pd.read_csv('fulldataset.csv')

In [7]:
indx = random.sample(data.index, 10)

In [9]:
data.loc[indx]

,text,time,time_chg,sentiment,Team1RelScore,Team2RelScore,Team1Indc,Team2Indc,Team1,Team2
160491,RT @KUHoops: Thursday's win over Maryland mark...,2016-03-26 22:57:02,18:57:02,neutral,0.000000,0.062500,0,1,Villanova,Kansas
32880,RT @codyhills1: SENIORS!!!\r\nClemmons the ste...,2016-03-18 21:30:01,17:30:01,negative,0.000000,0.250000,0,1,Temple,Iowa
137746,ELITE 8 BABY!!! #NovaNation #BEdancing #March4...,2016-03-25 00:59:59,20:59:59,neutral,0.000000,0.055556,0,1,Miami,Villanova
109276,RT @HaleyPaz: This game is so close. It's givi...,2016-03-20 19:36:28,15:36:28,neutral,0.071429,0.000000,1,0,Stephen F. Austin,Notre Dame
75305,Dam Yogi with the jets...\r\n #MarchMadness\r\...,2016-03-19 22:02:01,18:02:01,neutral,0.000000,0.062500,0,1,Indiana,Kentucky
127536,RT @Duke_MBB: Special guest in the Duke sectio...,2016-03-25 02:18:37,22:18:37,neutral,0.142857,0.000000,1,0,Duke,Oregon
91786,@ericgarcetti is all about the cats #Villanova...,2016-03-20 17:27:35,13:27:35,irrelevant,0.000000,0.055556,0,1,Iowa,Villanova
85596,Typical Yankees. #Yale #Duke https://t.co/ALDk...,2016-03-19 20:28:32,16:28:32,irrelevant,0.055556,0.071429,1,1,Yale,Duke
28856,RT @dishakk_: It's a good Friday: warm weather...,2016-03-18 19:46:03,15:46:03,neutral,0.000000,0.000000,0,0,Hawaii,California
3008,"I'm gonna say this, regardless of the outcome ...",2016-03-18 20:13:45,16:13:45,negative,0.062500,0.000000,1,0,Middle Tennessee,Michigan State